@use "../settings/" as *;
@use "sass:math";

#gallery {
    background: rgba($primary, 0.9);
    border: 1px groove rgba($secondary, 0.1);
    border-radius: math.div($border-radius, 1.25);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    color: $secondary;
    display: grid;
    gap: $grid-gap * 8;
    grid-template-rows: auto;
    padding: $padding * 2 0;
    margin: $margin $margin * 4;
    h2, h3, h4 {
        letter-spacing: 0.033rem;
        text-transform: capitalize;
    }
    h2 {
        border-bottom: $border solid $pink-bright;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin: 0 $margin * 2 $margin;
        padding-bottom: $padding;
    }
    ul {
        display: grid;
        gap: 20px;
        grid-template-columns: auto 1fr 3fr 1fr auto;
        list-style: none;
        padding: $padding;
        li {
            align-items: center;
            display: flex;
            justify-content: center;
            button {
                background: transparent;
                border: none;
                border-radius: math.div($border-radius, 1.25);
                color: $secondary;
                cursor: pointer;
                font-size: 1.5rem;
                height: 100%;
                width: 36px;
                &:hover {
                    color: $pink-bright;
                    transform: scale(1.05);
                }
            }
            img {
                border: $border solid rgba($secondary, 0.8);
                border-radius: $border-radius;
                display: block;
                max-height: 550px;
                max-width: 100%;
                object-fit: cover;
                opacity: 0.9;
                transition: 0.3s ease all;
            }
            &.active {
                img {
                    border: $border solid $secondary;
                    opacity: 1;
                    transform: scale(1.05);
                }
            }
        }
    }
}