@use "../settings/" as *;
@use "sass:math";

#home {
    background: rgba($primary, 0.9);
    border: 1px groove rgba($secondary, 0.1);
    border-radius: math.div($border-radius, 1.25);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: $grid-gap * 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    max-height: 77vh;
    padding: $padding * 2;
    margin: $margin $margin * 4;
    #summary {
        align-items: center;
        background:
            linear-gradient(45deg,
            rgba($secondary, 0.5),
            rgba($secondary, 0.7),
            rgba($secondary, 1.0),
            rgba($secondary, 1.0),
            rgba($secondary, 1.0),
            rgba($secondary, 1.0),
            rgba($secondary, 0.7),
            rgba($secondary, 0.5)),
            url("../images/black-grey-polka-dots.jpg");
        background-position: center;
        background-repeat: no-repeat;
        border: $border solid $pink-medium;
        border-radius: math.div($border-radius, 1.25);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        justify-content: center;
        padding: $padding;
        #phrase {
            color: $pink-bright;
            font-family: Corinthia, Arial, Helvetica, sans-serif;
            font-size: 4rem;
            text-transform: capitalize;
        }
        #btn-group {
            display: flex;
            gap: $grid-gap;
            margin: $margin;
            margin-top: $margin * 2;
            button {
                align-items: center;
                background: $pink-bright;
                border: $border solid $primary;
                border-radius: math.div($border-radius, 1.25);
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                color: $secondary;
                cursor: pointer;
                display: flex;
                font-weight: bold;
                justify-content: center;
                height: 60px;
                letter-spacing: 0.033rem;
                padding: $padding $padding * 2.25;
                text-transform: capitalize;
                width: 300px;
                &:hover {
                    background: $pink-bright;
                    scale: 1.025;
                }
            }
        }
        span {
            color: $pink-bright;
            font-size: 1.75rem;
        }
        h3 {
            margin: $margin 0;
        }
        p {
            font-weight: bold;
            margin-bottom: $margin;
        }
        small {
            font-weight: bold;
            margin: $margin 0;
            a {
                color: blue;
                text-transform: capitalize;
                &:hover {
                    color: $pink-bright;
                }
                &:visited {
                    color: blueviolet;
                }
            }
        }

    }
    .container {
        align-items: center;
        background:
            linear-gradient(45deg,
            rgba($secondary, 0.5),
            rgba($secondary, 0.7),
            rgba($secondary, 1.0),
            rgba($secondary, 1.0),
            rgba($secondary, 1.0),
            rgba($secondary, 1.0),
            rgba($secondary, 1.0),
            rgba($secondary, 0.7),
            rgba($secondary, 0.5)),
            url("../images/black-grey-polka-dots.jpg");
        background-position: center;
        background-repeat: no-repeat;
        border: $border solid $pink-medium;
        border-radius: math.div($border-radius, 1.25);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        gap: $grid-gap * 2;
        grid-column: 1 / 1;
        grid-row: 2 / -1;
        justify-content: center;
        padding: $padding;
        text-transform: capitalize;
        #social-icons {
            display: flex;
            gap: $grid-gap;
            justify-content: center;
            a {
                background: rgba($primary, 0.9);
                border: none;
                border-radius: math.div($border-radius, 1.25);
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
                color: rgba($pink-bright, 0.9);
                cursor: pointer;
                padding: math.div($padding, 4);
                &:hover {
                    color: $pink-bright;
                    scale: 1.1;
                }
                i {
                    font-size: 2rem;
                }
            }
        }
    }
    .container-two {
        border: $border solid $pink-medium;
        border-radius: math.div($border-radius, 1.25);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        max-height: 100%;
        img {
            border-radius: math.div($border-radius, 4);
            height: 100%;
            width: 100%;
        }
    }
}